---
layout: default
title: Home
---

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->

<div class="container-fluid p-0">
<section align="justify" class="intro p-3 p-lg-5 d-flex d-column" id="about" >

<p class="mb-5"><font size="4"> I am a rearch associate at Oregon State University working with Dr. Houssam Abbas. Previously I obtained my PhD under the supervision of <a href ="https://web.engr.oregonstate.edu/~sarmaa/">Dr. Anita Sarma</a> and <a href = "https://eecs.oregonstate.edu/people/bobba-rakesh">Dr. Rakesh B. Bobba </a> in the Electrical Engineering & Computer Science department at Oregon State University. My research interest  lies at the intersection of privacy, security, and human-computer interaction in smart homes focusing on three aspects: i)	studying end-users’ perceptions and expectations of privacy in smart homes, 
ii)	discovering information flows from smart-home apps,
iii)	developing a new approach to enable end users to manage their privacy easier. 
 </font><br />



<p class="mb-5"><font size="4"><strong>

</strong></span>  <a href="https://www.linkedin.com/in/mahsa-saeidi-6311457b/">[LinkedIn]</a> <a href="https://scholar.google.com/citations?user=kySG5DUAAAAJ&hl=en">[Google Scholar]</a></font></p>

</section>



<hr/>
<section class="publications" id="Publications" >

<h2 class="mb-5"><span style="font-size:36px;"> Publications</span></h2>

<div class="row">
<div class="col-md-12"><font size="4"><b> Learning Personalized and Context-aware Violation Detection
Rules in Trigger-action Apps. </b><br />
<b> Mahsa Saeidi</b>, Turgay Caglar, Anita Sarma, and Rakesh B. Bobba.<br />
<i>Privacy Enhancing Technologies Symposium (PETS), 2023, Under review.</i> </font></div>
</div>
&nbsp;

<div class="row">
<div class="col-md-12"><font size="4"><b> Nudging end users towards privacy and security risks in smart homes.</b><br />
<b> Mahsa Saeidi</b>, Anita Sarma, and Rakesh B. Bobba.<br />
<i>PETS Workshop on Interdependent and Multi-party Privacy, 2022.</i> </font></div>
</div>
&nbsp;

<div class="row">
<div class="col-md-12"><font size="4"><b>If This Context Then That Concern: Exploring users' concerns with IFTTT applets.</b><br />
<b> Mahsa Saeidi</b>, McKenzie Calvert, Audrey W. Au, Anita Sarma, and Rakesh B. Bobba.<br />
<i>Privacy Enhancing Technologies Symposium (PETS), 2022.</i> <a href="https://petsymposium.org/2022/files/papers/issue1/popets-2022-0009.pdf"> <small>[Paper] </small></a> </font></div>
</div>
&nbsp;

<div class="row">
<div class="nowrap"><font size="4"><b>Understanding user perceptions of privacy, and configuration challenges in home automation.</b><br />
Kaaz, Kim J., Alex Hoffer, <b>Mahsa Saeidi</b>, Anita Sarma, and Rakesh B. Bobba.<br />
<i> IEEE Symposium on Visual Languages and Human-Centric Computing (VL/HCC), 2017.</i> <a href="https://ieeexplore.ieee.org/document/8103482"> <small>[Paper] </small></a> </font></div>
</div>
&nbsp;





</div>
</section>


</hr>
<section class="teaching" id="Teaching" >

<h2 class="mb-5"><span style="font-size:36px;"> Teaching</span></h2>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<!--
	<div align="justify" class="col-md-9"><font size="4"> <a href="UsableSecurity.html"> Advanced Cyber Security (with the focus on Usable Privacy and Security)</a> <br /></div>
-->
<div align="justify" class="col-md-9"><font size="4"> <a href="WebProgramming.html">Web Programming</a> <br /> </div>


<hr />

</hr>
<section class="awards" id="Awards" >

<h2 class="mb-5"><span style="font-size:36px;"> Awards</span></h2>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Awarded scholarship grant to attend Differential Privacy Summer School, Boston University, 2022. <br /></div> 

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>


<div align="justify" class="col-md-9"><font size="4"> Awarded honorable mention for OSU EECS graduate students 2018–2019. <br /></div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Awarded travel scholarship to attend GREPSEC 2019. <br />
</div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Awarded travel scholarship to attend S&P 2018. <br />
</div>



<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Awarded travel scholarship to attend CRA-W Grad Cohort Workshop 2018. <br />
</div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Awarded distinguished B.Sc. student award with honorary acceptance for the M.Sc. degree in 2011. <br />
</div>



<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Ranked 2nd among Information Technology Engineering B.Sc. students in 2010. <br />
</div>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div align="justify" class="col-md-9"><font size="4"> Ranked in the top 10 students of the Computer Engineering B.Sc. students in 2010. <br />
</div>
<hr />

</hr>
<section class="service" id="Service" >

<h2 class="mb-5"><span style="font-size:36px;"> Service</span></h2>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>
<div  class="col-md-9"><font size="4"> Artifact Evaluation Committee, USENIX Annual Technical Conference (ATC 2022). <br /> </div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>
<div  class="col-md-9"><font size="4"> Artifact Evaluation Committee, USENIX Symposium on Operating Systems Design & Implementation (OSDI 2022). <br /> </div>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9"><font size="4">Organization Committee - Web Chair: IEEE Symposium on Security & Privacy (S&P 2022).<br />
</div>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9"><font size="4">Co-Instructor: NW Cyber Camp, (OSU-2021).<br />
</div>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9"><font size="4">Teaching assistant: Introduction to Security (OSU-Fall2021), Software Engineering II (OSU-Spring2021,Winter2021)
        </div>



<div class="row">
<div class="col-md-3"><font size="4"> </font></div>
<div  class="col-md-9"><font size="4">Student Program Committee: IEEE Symposium on Security & Privacy (S&P 2020).<br />
</div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9"><font size="4">External Reviewer: CCS 2019, ICSE 2019 & 2020, SAC 2018.<br />
</div>


<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9">Co-Instructor: Video Game Workshop (CHICKTECH), (Corvallis, 2017).<br /></div>
<hr />
<section class="mentorship" id="Mentorship" >

<h2 class="mb-5"><span style="font-size:36px;"> Mentorship</span></h2>

<div class="row">
<div class="col-md-3"><font size="4"> </font></div>

<div  class="col-md-9"><font size="4"> It has been an honor working with many high school, undergraduate, and graduate students at OSU:<br />
</div>
            <ul style="margin-bottom: 0px;padding-left: 30px;">

		<li style="margin-bottom: 10px;font-size: 17px;">Manideepa Saginatham</li>

                <li style="margin-bottom: 10px;font-size: 17px;">
McKenzie Calvert</li>

<li style="margin-bottom: 10px;font-size: 17px;">
Audrey W Au</li>

<li style="margin-bottom: 10px;font-size: 17px;">
Wesley Alexis</li>

<li style="margin-bottom: 10px;font-size: 17px;">
Turguy Caglar</li>

</ul>
<hr />


</div>
</section>
